*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBackground {
    background: linear-gradient(180deg, #004e92 0%, #00bcff 100%);
    width: 100%;
    min-height: 75vh;
}
header{
    .headerBackgorund{
        background: linear-gradient(180deg, #00bcff 0%, #004e92 100%);
        margin-bottom: 0;
    }
    min-height: 13vh;
    color: white;
   
}
footer{
    background: linear-gradient(180deg, #00bcff 0%, #004e92 100%);
    min-height: 15vh;
    color: white;
}
a{
    text-decoration: none;
    color: darkblue;
}

.info{
    color: white;
}
.card{
    padding: 2%;
    color: white;
    background-color: rgb(55, 156, 163);
}

.btn-success{
    background-color: rgb(0, 0, 59);
    width: 80%;
    margin: auto;
    margin-top: 15px;
}
.btn-success:hover{
    background-color: rgb(0, 0, 29);
}
